input[type="text"], input[type="email"], input[type="search"], input[type="password"],select,textarea {
  -webkit-appearance: none;
  -moz-appearance: caret; /* mobile firefox too! */
  -webkit-tap-highlight-color: transparent;
  color: #000000;
  background: #ffffff none repeat scroll 0 0;
  font-family: TisaScWeb,Georgia,"Times New Roman",Times,serif;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
  text-align: left;
  text-transform: lowercase;
  padding: 0 0 4px 0;
  margin: 0px;
  border: none;
  border-bottom: 1px dashed #af9359;
  height: 22px;
  border-radius: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
select::-ms-expand {
    display: none;
}
select,option{
	padding:0;
	margin: 0;
}

/* jumping label */

.field--wrapper {
 position:relative;
 margin-top:32px;
 margin-bottom:16px;
}

.field--wrapper label {
 position:absolute;
 transition: all 0.1s linear;
 pointer-events: none;
 /* unfilled and unfocused */
 opacity:1;
 top:	4px;
 left: 0px;
}
.field--wrapper label.gl_label_filled {
 opacity:0.5;
 top:-20px;
 left:0;
}
.field--wrapper label.gl_label_focus {
 opacity:1;
 top:-20px;
 left:0;
}
.gl_missing label{
 color: #e50952;
}

.gl_missing input,.gl_missing select,.gl_missing textarea{
 border-bottom-color: #d24291;
}
.gl_required label:after{
 content: "*";
 margin-left: 2px;
 color: #d24291;
}
/* css-checkbox */
input[type=radio],input[type=checkbox]{
 position: absolute;
 z-index:-1000;
 left:-1000px;
 overflow: hidden;
 clip: rect(0 0 0 0);
 height:1px;
 width:1px;
 margin:-1px;
 padding:0;
 border:0;
}

input[type=radio] + label ,input[type=checkbox] + label{
 padding-left: 30px;
 min-height:24px;
 line-height: 22px;
 display:inline-block;
 background-repeat:no-repeat;
 background-position: 0 0;
 background-size: 18px 18px;
 vertical-align: middle;
 cursor:pointer;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 position: static;
 margin-right: 24px;
 pointer-events: auto;
 transition: none !important;
}
input[type=radio] + label {
 background-image:url(../images/radiobutton.png);
}
input[type=radio]:checked + label {
 background-image:url(../images/radiobutton_active.png);
}
input[type=checkbox] + label {
 background-image:url(../images/checkbox.png);
}
input[type=checkbox]:checked + label {
 background-image:url(../images/checkbox_active.png);
}
