<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!--<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/bootstrap-theme.min.css">-->
  <link rel="stylesheet" href="stylesheets/input.css">
  <link rel="stylesheet" href="stylesheets/main.css">

  <script src="/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/jquery.validate.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <!--<script src="javascripts/bootstrap.min.js"></script>-->
  <script src="/languages/german.js"></script>
  <script src="/languages/english.js"></script>

  <script src="/javascripts/main.js"></script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">TeilnehmerServer</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="inactive"><a href="/">Home</a></li>
          <li><a href="http://telexgateway.de/">bnd</a></li>
          <!--
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div id="search-container" class="panel">
              <input id="search-box" style="display:none;"></input>
              <button id="search-button" class="glyphicon glyphicon-search btn btn-primary btn-sm"></button>
            </div>
          </li>
          <li>
            <button id="new" style="display: none;" class="btn btn-primary btn-sm admin_only"></button>
          </li>
          <li>
            <div id="loc-container">
              <div id="loc-dropdown-parent"></div>
              <div id="loc-dropdown-children" style="display:none;"></div>
            </div>
          </li>
          <li>
            <div id="loginout">
              <button id="logout" onclick="logout();"; style="display: none;" class="btn btn-danger btn-sm admin_only"></button>
              <button id="login" style="display: none;" class="btn btn-primary btn-sm user_only"></button>
            </div>
          </li>
          <!--
          <li><a href="../navbar/">Default</a></li>
          <li><a href="../navbar-static-top/">Static top</a></li>
          <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          -->
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <div id="waitpop" style="display: none; position: absolute; top: -23px; left: 393px;">
    <div id="waitpop_inner" class="panel panel-default" role="alert">
      <div id="waitpop_content">
        <div id="waitpop_message"><p style="margin-bottom:8px">Processing...</p></div>
        <!--<img src="/fileadmin/templates/img/gears_w.gif" alt="" border="0">-->
      </div>
    </div>
  </div>
  <div id="errorpop">
    <div id="errorpop_inner" class="alert alert-danger" role="alert">
      <span class="close" onclick="closeError();" aria-label="close">×</span>
      <div id="errorpop_content">
      	<div id="errorpop_errmsg">Error!!</div>
      </div>
  	</div>
  </div>
  <div class="container">
    <div id="table"></div>
  </div>

  <div style="display: none;" id="password_dialog" class="popup">
    <h2 id="hl_password"></h2>
    <form id="password_form">
      <div class="field--wrapper">
        <label for="passwordfield" id="passwordfield_label">passwordfield</label>
        <input id="passwordfield" type="password" name="password">
      </div>
      <div class="button_container">
        <button id="submit_password_dialog" class="btn btn-primary btn-sm submit_dialog" type="button"></button>
        <button id="abort_password_dialog" class="btn btn-danger btn-sm abort_dialog" type="button"></button>
      </div>
    </form>
  </div>
  <div style="display: none;" id="newentry_dialog" class="popup">
    <h2 id="hl_newentry"></h2>
    <form id="newentry_form">
      <div class="field--wrapper">
      <label for="number_newentry_dialog" id="number_newentry_dialog_label">number_newentry_dialog</label>
      <input id="number_newentry_dialog" type="text" name="number">
    </div>
      <div class="field--wrapper">
        <label for="name_newentry_dialog" id="name_newentry_dialog_label">name_newentry_dialog</label>
        <input id="name_newentry_dialog" type="text" name="name">
      </div>
      <div class="field--wrapper">
        <label for="type_newentry_dialog" id="type_newentry_dialog_label">type_newentry_dialog</label>
        <select class="input" id=type_newentry_dialog name="type">
          <option class="type_option_1" value="1"></option>
          <option class="type_option_2" value="2"></option>
          <option class="type_option_3" value="3"></option>
          <option class="type_option_4" value="4"></option>
          <option class="type_option_5" value="5"></option>
          <option class="type_option_6" value="6"></option>
        </select>
      </div>
      <div class="field--wrapper">
        <label for="email_newentry_dialog" id="email_newentry_dialog_label">email_newentry_dialog</label>
        <input id="email_newentry_dialog" type="text" name="email">
      </div>
      <div class="field--wrapper">
        <label for="hostname_newentry_dialog" id="hostname_newentry_dialog_label">hostname_newentry_dialog</label>
        <input id="hostname_newentry_dialog" type="text" name="hostname">
      </div>
      <div class="field--wrapper">
        <label for="ipaddress_newentry_dialog" id="ipaddress_newentry_dialog_label">ipaddress_newentry_dialog</label>
        <input id="ipaddress_newentry_dialog" type="text" name="ipaddress">
      </div>
      <div class="field--wrapper">
        <label for="port_newentry_dialog" id="port_newentry_dialog_label">port_newentry_dialog</label>
        <input id="port_newentry_dialog" type="text" name="port">
      </div>
      <div class="field--wrapper">
        <label for="extension_newentry_dialog" id="extension_newentry_dialog_label">extension_newentry_dialog</label>
        <input id="extension_newentry_dialog" type="text" name="extension">
      </div>
      <div class="field--wrapper">
        <label for="pin_newentry_dialog" id="pin_newentry_dialog_label">pin_newentry_dialog</label>
        <input id="pin_newentry_dialog" type="text" name="pin">
      </div>
      <label for="disabled_newentry_dialog" id="disabled_newentry_dialog_label">disabled_newentry_dialog</label>
      <input type="checkbox" id="disabled_newentry_dialog" name="disabled"></input>
      <div class="button_container">
      <button id="submit_newentry_dialog" class="btn btn-primary btn-sm submit_dialog" type="button"></button>
      <button id="abort_newentry_dialog" class="btn btn-danger btn-sm abort_dialog" type="button"></button>
    </div>
    </form>
  </div>
  <div style="display: none;" id="edit_dialog" class="popup">
    <form id="edit_form">
      <h2 id="hl_edit"></h2>
      <div class="field--wrapper">
      <label for="number_edit_dialog" id="number_edit_dialog_label">number_edit_dialog</label>
      <input id="number_edit_dialog" type="text" name="number">
    </div>
      <div class="field--wrapper">
        <label for="name_edit_dialog" id="name_edit_dialog_label">name_edit_dialog</label>
        <input id="name_edit_dialog" type="text" name="name">
      </div>
      <div class="field--wrapper">
        <label for="type_edit_dialog" id="type_edit_dialog_label">type_edit_dialog</label>
        <select class="input" id=type_edit_dialog name="type">
          <option class="type_option_1" value="1"></option>
          <option class="type_option_2" value="2"></option>
          <option class="type_option_3" value="3"></option>
          <option class="type_option_4" value="4"></option>
          <option class="type_option_5" value="5"></option>
          <option class="type_option_6" value="6"></option>
        </select>
      </div>
      <div class="field--wrapper">
        <label for="email_edit_dialog" id="email_edit_dialog_label">email_edit_dialog</label>
        <input id="email_edit_dialog" type="text" name="email">
      </div>
      <div class="field--wrapper">
        <label for="hostname_edit_dialog" id="hostname_edit_dialog_label">hostname_edit_dialog</label>
        <input id="hostname_edit_dialog" type="text" name="hostname">
      </div>
      <div class="field--wrapper">
        <label for="ipaddress_edit_dialog" id="ipaddress_edit_dialog_label">ipaddress_edit_dialog</label>
        <input id="ipaddress_edit_dialog" type="text" name="ipaddress">
      </div>
      <div class="field--wrapper">
        <label for="port_edit_dialog" id="port_edit_dialog_label">port_edit_dialog</label>
        <input id="port_edit_dialog" type="text" name="port">
      </div>
      <div class="field--wrapper">
        <label for="extension_edit_dialog" id="extension_edit_dialog_label">extension_edit_dialog</label>
        <input id="extension_edit_dialog" type="text" name="extension">
      </div>
      <!--<div class="field--wrapper">
        <label for="pin_edit_dialog" id="pin_edit_dialog_label">pin_edit_dialog</label>
        <input id="pin_edit_dialog" type="text">
      </div>-->
      <label for="disabled_edit_dialog" id="disabled_edit_dialog_label">disabled_edit_dialog</label>
      <input type="checkbox" id="disabled_edit_dialog" name="disabled"></input>
      <div class="button_container">
      <button id="submit_edit_dialog" class="btn btn-primary btn-sm submit_dialog" type="button"></button>
      <button id="abort_edit_dialog" class="btn btn-danger btn-sm abort_dialog" type="button"></button>
    </div>
    </form>
  </div>
  <div style="display: none;" id="delete_dialog" class="popup">
    <h2 id="hl_delete"></h2>
    <div id="delete_dialog_label_container"></div>
    <div class="button_container">
      <button id="submit_delete_dialog" class="btn btn-primary btn-sm submit_dialog" type="button"></button>
      <button id="abort_delete_dialog" class="btn btn-danger btn-sm abort_dialog" type="button"></button>
    </div>
  </div>
  </br>
  <span id="log"></span>

  <!--
  <div class="glpopup_outer" id="anmeldenZumNewsletter" style="display: block;">
  		<div class="glpopup">
  		<div class="glpopup_close"><img src="http://www.prds.rocks/4all/images/close_small_pink.png" alt="Close" width="12" height="12"></div>
  			<div class="if_popup_subject"> prds.kitchen - Sign&nbsp;up&nbsp;for&nbsp;Newsletter</div>
  			<div class="if_popup_divider"><img src="http://www.prds.rocks/4all/images/divider_gold.png" alt="Close"></div>
  			<div class="if_popup_headline glmail_text">Newsletter</div>
  			<div class="if_popup_subheadline glmail_text glmail_subject">Sign up</div>
  			<div class="if_popup_body">Please leave your contact details below.</div>
      	 	<div style="margin-bottom:5px;">

  				<div class="field--wrapper">
    					<label for="popupAnrede" class="">Salutation</label>
    					<select name="anrede" id="popupAnrede">
    					<option></option> <!-- empty Option for Label -->
  <!--
    						<option value="1">Mister</option>
    						<option value="2">Mrs</option>
    					</select>
  				</div>

  				<div class="field--wrapper">
    					<label for="popupVorname" class="">First Name</label>
    					<input id="popupVorname" type="text">
  				</div>

  				<div class="field--wrapper">
    					<label for="popupNachname" class="">Last Name</label>
    					<input name="nachname" id="popupNachname" type="text">
  				</div>
      	<div class="field--wrapper gl_required ">
  					<label for="popupEmail" class="">eMail</label>
  					<input name="eMail" id="popupEmail" style="color: rgb(210, 66, 145);" type="text">
  				</div>
    		</div>
       	<div class="if_popup_buttontext">We'll send you notifications<br>
  about <span class="underlayered" style="cursor: pointer;" onclick="subscribeToListFromPopup(46);return(false);"> – Sign up for Newsletter.</span><br>upcoming events.</div>
  		</div>
  	</div>
  -->
</body>
</html>
