#out{
  border: 1px solid black;
  width: auto;
}
select:invalid{
  color:gray;
}
#table{
  border: 1px solid black;
  border-collapse: collapse;
}
#table tr{
  border: 1px solid black;
}
#table td{
  border: 1px solid black;
  padding: 2px 4px;
}
#table th{
  border: 1px solid black;
}
.edit{
  width: 22px !important;
  height: 22px;
  background-color: yellow;
  background-image: url("/images/Edit_Notepad_Icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.remove{
  width: 22px !important;
  height: 22px;
  background-color: red;
  background-image: url("/images/Trash_font_awesome.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#new{

}
#dialogbox{
  position: fixed;
  width: 50%;
  height: 50%;
  left: 25%;
  top: 25%;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
#submitdialog{
  position: absolute;
  bottom: 5px;
  right: 5px;
}
#abortdialog{
  position: absolute;
  bottom: 5px;
  right: 65px;
}
#passworddialog{
  position: absolute;
  bottom: 50px;
  right: 25%;
  width: 50%;
}
#gesperrtnewentrydialog{
  vertical-align: middle;
  border: 1px solid gray;
}
#editdialog{
  width: 100%;
  height: 100%;
}
#deletedialog{
  width: 100%;
  height: 100%;
}
#newentrydialog{
  width: 100%;
  height: 100%;
}
.shown{
  margin-bottom: 0px;
  color:rgba(0,0,0,255);
}
.hidden{
  margin-bottom: -15px;
  color:rgba(0,0,0,0);
}
.nametag{
  display:block;
  transition:all 0.5s;
}
.input-container{
  display: inline-block;
  height: 50px;
}
#search-button{
  background: url("/images/search-icon-hi.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  box-shadow: none;
  border: none;
  padding-bottom: 6px;
  cursor: pointer;
  height: 21px;
  width: 21px;
}
#search-container{
  display: block;
  float: right;
  border: none;
  margin: 10px;
}
#loc-dropdown-parent{
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  width: 120px;
}
#loc-dropdown-children{
  border: 0px solid black;
}
#loc-dropdown-child{
  cursor: pointer;
}
