input[type="text"], input[type="email"], input[type="search"], input[type="password"],select,textarea {
  -webkit-appearance: none;
  -moz-appearance: caret; /* mobile firefox too! */
  -webkit-tap-highlight-color: transparent;
  color: #000000;
  background-color: #eeeeff;
  border: 1px dashed #aaaaff;
  border-radius: 1px;
  font-style: normal;
  text-align: left;
  padding: 2px 8px;
  margin: 0;
  height: 22px;
  xborder: none;
  xborder-radius: 0;
  x-webkit-box-shadow: 4px 4px 0px 0px rgba(50, 50, 50, 0.75);
  x-moz-box-shadow: 4px 4px 0px 0px rgba(50, 50, 50, 0.75);
  xbox-shadow: 4px 4px 0px 0px rgba(50, 50, 50, 0.75);
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
}
select::-ms-expand {
    display: none;
}
select, option{
	padding:0;
	margin: 0;
}

/* jumping label */
.field--wrapper {
 position:relative;
 margin-top:32px;
 margin-bottom:16px;
}
.field--wrapper label {
 position:absolute;
 transition: all 0.1s linear;
 pointer-events: none;
 /* unfilled and unfocused */
 opacity:1;
 top:	4px;
 left: 8px;
}
.field--wrapper label.gl_label_filled {
 opacity:0.5;
 top:-20px;
 left:0;
}
.field--wrapper label.gl_label_focus {
 opacity:1;
 top:-20px;
 left:0;
}
.gl_missing label{
 color: #e50952;
}
.gl_missing input,.gl_missing select,.gl_missing textarea{
 border-bottom-color: #d24291;
}
.gl_required label:after{
 content: "*";
 margin-left: 2px;
 color: #d24291;
}
